.*.swp
classicthesis.sty
*.aux
*.log
*.toc
*.lof
*.lot
*.glo
*.idx
*.gls
*.ind
*.blg
*.bbl
*.out
*.ilg
*.pass1

*.o
*.mod

all.pdf

anleitung.1
anleitung.html
anleitung.odt
anleitung.pdf

plot_sinh.300pk
plot_sinh.600pk
plot_sinh.tfm

mycopy.1
mycopy.ps

check.c
check.h
check.pdf
grammar.tab.h
check

calc
dachflaeche
helloworld
